modules = ["nodejs-20", "web", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
NEXT_PUBLIC_VAPID_PUBLIC_KEY = "BNSpbbksvDOO7WXWrwhglvOpMED-abwNuv6ibKEjWCka6ArCNDkbhAcM8jd6dDGSk9-8ENtx5jcND0bNaq17Zp4"
VAPID_PRIVATE_KEY = "-Gug7vp0BJHOyPQQQYNnL5xCvwmg8AORpmOMDJ7ySRI"
VAPID_SUBJECT = "mailto:notifications@bidflow.app"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 120000
